<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px, solid, black;
    }
</style>

<body>

    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Salary</th>
        </tr>

        <tr th:object="${all}">
            <th th:text="*{staffName}"  > </th>
            <th th:text="*{staffAdress}"> </th>
            <th th:text="*{staffSalary}"> </th>
        </tr>

    </table>

</body>

</html>